<!-- 
<div class="container">
    
        <div class="container-fluid">
          <img id="menu" style="position: fixed;
          top: 0;
          left: auto;
          margin-left: -165px;
          width: 100%;
          z-index: 9999;width: 1000px;" src="assets/top.png" alt="">
        </div>
        <br><br><br><br><br>
        
        <div class="watermark-container">
          <nav id="marcaagua">
          <img src="assets/fondo.png" style="width: 400px;" alt="Marca de Agua">
          </nav> 
            <div id="marco1" style="left: auto;">
                <div class="watermark-text" style="width: 666px; height: 100%;">
                <table style="border: none;width:441.3pt;margin-left:35.85pt;border-collapse:collapse;">
                <tbody>
                    <tr>
                        <td colspan="4" style="width: 441.3pt;border: 1pt solid black;background: rgb(231, 178, 20);padding: 0.6pt 0cm 0cm 3.35pt;height: 16pt;vertical-align: top;">
                            <p style='margin-top:0cm;margin-right:3.8pt;margin-bottom:.0001pt;margin-left:0cm;text-align:center;text-indent:0cm;line-height:112%;font-size:16px;font-family:"Arial",sans-serif;color:black;'><strong><span style="font-size:13px;">EVALUACI&Oacute;N COGNITIVA ATENCIONAL&nbsp;</span></strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" style="width: 441.3pt;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;background: rgb(217, 217, 217);padding: 0.6pt 0cm 0cm 3.35pt;height: 16.15pt;vertical-align: top;">
                            <p style='margin-top:0cm;margin-right:3.6pt;margin-bottom:.0001pt;margin-left:0cm;text-align:center;text-indent:0cm;line-height:112%;font-size:16px;font-family:"Arial",sans-serif;color:black;'><strong><span style="font-size:13px;">CONDUCTORES VEH&Iacute;CULOS LINEA BLANCA&nbsp;</span></strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 149.75pt;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;padding: 0.6pt 0cm 0cm 3.35pt;height: 16.15pt;vertical-align: top;">
                            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:.05pt;text-align:left;text-indent:0cm;line-height:112%;font-size:16px;font-family:"Arial",sans-serif;color:black;'><strong><span style="font-size:13px;">Nombre:&nbsp;</span></strong></p>
                        </td>
                        <td colspan="3" style="width: 291.6pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0.6pt 0cm 0cm 3.35pt;height: 16.15pt;vertical-align: top;">
                            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:.1pt;text-align:left;text-indent:0cm;line-height:112%;font-size:16px;font-family:"Arial",sans-serif;color:black;'><span style="font-size:13px;">Bernardo Cano Zapata&nbsp;</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 149.75pt;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;padding: 0.6pt 0cm 0cm 3.35pt;height: 16.2pt;vertical-align: top;">
                            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:.05pt;text-align:left;text-indent:0cm;line-height:112%;font-size:16px;font-family:"Arial",sans-serif;color:black;'><strong><span style="font-size:13px;">Identificaci&oacute;n:&nbsp;</span></strong></p>
                        </td>
                        <td style="width: 112.2pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0.6pt 0cm 0cm 3.35pt;height: 16.2pt;vertical-align: top;">
                            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:.1pt;text-align:left;text-indent:0cm;line-height:112%;font-size:16px;font-family:"Arial",sans-serif;color:black;'><span style="font-size:13px;">70631760&nbsp;</span></p>
                        </td>
                        <td style="width: 63.95pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0.6pt 0cm 0cm 3.35pt;height: 16.2pt;vertical-align: top;">
                            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:.1pt;text-align:left;text-indent:0cm;line-height:112%;font-size:16px;font-family:"Arial",sans-serif;color:black;'><strong><span style="font-size:13px;">Edad:&nbsp;</span></strong></p>
                        </td>
                        <td style="width: 115.4pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0.6pt 0cm 0cm 3.35pt;height: 16.2pt;vertical-align: top;">
                            <p style='margin-top:0cm;margin-right:.1pt;margin-bottom:.0001pt;margin-left:36.05pt;text-align:left;text-indent:0cm;line-height:112%;font-size:16px;font-family:"Arial",sans-serif;color:black;margin:0cm;'><span style="font-size:13px;">49&nbsp;</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 149.75pt;border-right: 1pt solid black;border-bottom: 1pt solid black;border-left: 1pt solid black;border-image: initial;border-top: none;padding: 0.6pt 0cm 0cm 3.35pt;height: 16.1pt;vertical-align: top;">
                            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:.05pt;text-align:left;text-indent:0cm;line-height:112%;font-size:16px;font-family:"Arial",sans-serif;color:black;'><strong><span style="font-size:13px;">Escolaridad&nbsp;</span></strong></p>
                        </td>
                        <td style="width: 112.2pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0.6pt 0cm 0cm 3.35pt;height: 16.1pt;vertical-align: top;">
                            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:.1pt;text-align:left;text-indent:0cm;line-height:112%;font-size:16px;font-family:"Arial",sans-serif;color:black;'><span style="font-size:13px;">Secundaria Completa&nbsp;</span></p>
                        </td>
                        <td style="width: 63.95pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0.6pt 0cm 0cm 3.35pt;height: 16.1pt;vertical-align: top;">
                            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:.1pt;text-align:justify;text-indent:0cm;line-height:112%;font-size:16px;font-family:"Arial",sans-serif;color:black;'><strong><span style="font-size:13px;">Lateralidad:&nbsp;</span></strong></p>
                        </td>
                        <td style="width: 115.4pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0.6pt 0cm 0cm 3.35pt;height: 16.1pt;vertical-align: top;">
                            <p style='margin-top:0cm;margin-right:.1pt;margin-bottom:.0001pt;margin-left:36.05pt;text-align:left;text-indent:0cm;line-height:112%;font-size:16px;font-family:"Arial",sans-serif;color:black;margin:0cm;'><span style="font-size:13px;">Diestro&nbsp;</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:149.75pt;border:solid black 1.0pt;border-top:none;padding:.6pt 0cm 0cm 3.35pt;height:23.5pt;">
                            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:.05pt;text-align:left;text-indent:0cm;line-height:112%;font-size:16px;font-family:"Arial",sans-serif;color:black;'><strong><span style="font-size:13px;">Antecedentes m&eacute;dicos:&nbsp;</span></strong></p>
                        </td>
                        <td style="width:112.2pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:.6pt 0cm 0cm 3.35pt;height:23.5pt;">
                            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:.1pt;text-align:left;text-indent:0cm;line-height:112%;font-size:16px;font-family:"Arial",sans-serif;color:black;'><span style="font-size:13px;">Ninguno&nbsp;</span></p>
                        </td>
                        <td style="width: 63.95pt;border-top: none;border-left: none;border-bottom: 1pt solid black;border-right: 1pt solid black;padding: 0.6pt 0cm 0cm 3.35pt;height: 23.5pt;vertical-align: top;">
                            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:.1pt;text-align:left;text-indent:0cm;line-height:112%;font-size:16px;font-family:"Arial",sans-serif;color:black;'><strong><span style="font-size:13px;">Accidentes reportados: &nbsp;</span></strong></p>
                        </td>
                        <td style="width:115.4pt;border-top:none;border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:.6pt 0cm 0cm 3.35pt;height:23.5pt;">
                            <p style='margin-top:0cm;margin-right:.1pt;margin-bottom:.0001pt;margin-left:36.05pt;text-align:left;text-indent:0cm;line-height:112%;font-size:16px;font-family:"Arial",sans-serif;color:black;margin:0cm;'><span style="font-size:13px;">0&nbsp;</span></p>
                        </td>
                    </tr>
                </tbody>
                </table>
                <br><br><br>
                <p>A continuación, se describe el perfil general del rendimiento en la evaluación cognitiva, el cual contempla procesos atencionales y funciones ejecutivas, el ítem de atención sostenida evidencia una ponderación de los aciertos logrados en la ejecución de la prueba “CPT”. El ítem de Velocidad de procesamiento, el cual se establece a partir del tiempo de respuesta que se otorga posterior a la aparición del estímulo, y el ítem Control inhibitorio, el cual contempla la capacidad de inhibir o bloquear conductas inapropiadas o distractores.</p>
                <br>
                <h3 style="text-align: center;">Perfil Neurocognitivo2</h3><br>
                
                <div style="width: 100%;display: flex;align-items: center;padding-left: 60px;">
                <div id="grafi" style=" width: 480px; left: auto; align-items: center; opacity: 1; ">
                    <p-chart type="radar" [data]="data" [options]="options" [style]="{'width': '100%' }"></p-chart>
                </div>
                </div>
                <br><h3 style="margin-top: 450px;text-align: right;">1.</h3><br>
                <br><h1 style="margin-top: 450px;">Perfil Cognitivo</h1><br>
                <h1 style="margin-top: 100px;">Perfil Cognitivo</h1>
                <p style="text-align: justify;" >En este apartado se discrimina por cada habilidad cognitiva evaluada junto con el 
                    puntaje correspondiente alcanzado, en una escala de 0-100. Que le permite 
                    compararlo frente a un grupo de referencia. Los valores calculados se obtienen a 
                    partir de una puntuación global de la prueba y se reajustan a la escala 0-100. A 
                    mayor puntuación obtenida, mayor rendimiento.</p>
                
                <p style="text-align: justify;">La conducción representa un compromiso cognitivo significativo, por el alto nivel de 
                    información que se procesa y su flujo constante. A continuación, se describen los 
                    procesos cognitivos críticos y claves en el ejercicio de la conducción.</p>
                <h3>PROCESO ATENCIONAL Y PERCEPTUAL</h3>
                <p style="text-align: justify;">Los procesos atencionales juegan un papel fundamental en la conducción, debido 
                    al alto flujo de información que se requiere procesar. La atención es el primer 
                    proceso cognitivo, que le permite al conductor, estar en comunicación con su 
                    entorno. Este proceso se subdivide en los diferentes tipos de atención.</p>
                
                
                <div style=" align-items: center;margin-top: 20px;">
                    <div class="circle">
                        53
                    </div>
                  <div style="margin-left: 130px; margin-top: -90px;">
                    <h3>Atención Sostenida</h3>
                    <p style="text-align: justify;">Los procesos atencionales juegan un papel fundamental en la conducción, debido 
                        al alto flujo de información que se requiere procesar. La atención es el primer 
                        proceso cognitivo, que le permite al conductor, estar en comunicación con su 
                        entorno. Este proceso se subdivide en los diferentes tipos de atención.</p>
                  </div>
                </div>
                <br><br><br><br><br><br><br>
                <div style="justify-content: center; width: 100%;display: flex; opacity: 1;">
                    
                    <img src="assets/informe2.png" style="display: block; margin: auto; width:300px; position: static;"/>
                    
                </div>
                <br><br><br><br><br><br><br>
                <div style=" align-items: center;margin-top: 20px;">
                    <div class="circle">
                        100
                    </div>
                  <div style="margin-left: 130px; margin-top: -90px;">
                    <h3>Agudeza visual</h3>
                    <p style="text-align: justify;">Hace referencia a la capacidad para percibir estímulos visuales 
                        de manera oportuna y detectar aquellos que se consideran 
                        relevantes de los irrelevantes. . El conductor Bernardo Cano
                        obtuvo una puntuación Alta en esta habilidad. Lo que se 
                        relaciona con una Buena capacidad de identificar de manera 
                        oportuna obstáculos o elementos de riesgo en la vía.</p>
                  </div>
                </div>
                <br><br>
                <h3>FUNCIONES EJECUTIVAS</h3>
                <p style="text-align: justify;" >Las funciones ejecutivas obedecen a aquellas funciones psicológicas superiores, 
                    son las encargadas de monitorear y regular los demás procesos cognitivos. Gracias 
                    a estos procesos un conductor puede ajustar su conducta de acuerdo con las 
                    exigencias del entorno, es decir, regular su velocidad, abstenerse de realizar 
                    maniobras peligrosas y establecer estrategias efectivas para la solución de 
                    problemas en la vía.</p>
                <br>
                <div style=" align-items: center;margin-top: 20px;">
                    <div class="circle">
                        55
                    </div>
                    <div style="margin-left: 130px; margin-top: -90px;">
                    <h3>Velocidad de procesamiento</h3>
                    <p style="text-align: justify;">Se refiere a la capacidad para responder de manera 
                        oportuna en términos de tiempo, frente a las situaciones 
                        presentadas, El conductor Bernardo Cano obtuvo una 
                        puntuación Media en esta habilidad. Lo que se relaciona con 
                        una Adecuada capacidad de responder a tiempo y de 
                        manera eficaz frente a los imprevistos presentados en la vía.</p>
                    </div>
                </div>
                <br>
                <div style=" align-items: center;margin-top: 20px;">
                    <div class="circle">
                        55
                    </div>
                    <div style="margin-left: 130px; margin-top: -90px;">
                    <h3>Control inhibitorio</h3>
                    <p style="text-align: justify;">Se refiere a la capacidad para responder de manera 
                        oportuna frente a las situaciones, utilizando una conducta 
                        apropiada, de acuerdo con el contexto y eliminando aquella 
                        respuesta automática que no se ajusta a los requerimientos 
                        del entorno. El conductor Bernardo Cano, obtuvo una 
                        puntuación Alta en esta habilidad. Lo que se relaciona con 
                        una Buena capacidad para orientar su respuesta frente a 
                        cualquier estimulo en la vía.</p>
                    </div>
                </div>
                <h1 style="margin-top: 300px;">Conclusiones</h1>
                <h1 style="margin-top: 100px;">Conclusiones</h1>
                <br>
                <p style="text-align: justify;" >Según los datos recogidos, el conductor Bernardo Cano obtuvo una puntuación 
                    general de 73, lo que lo ubica en el rango ALTO, esto indica que se ajusta a los 
                    requerimientos del cargo, teniendo en cuenta su desempeño en los perfiles 
                    neurocognitivos y neuropsicológicos. </p>
                <br>
                <p style="text-align: justify;">Se recomienda realizar seguimientos en aquellas áreas donde el rendimiento no 
                    alcanzó la mayor puntuación, de modo que sea posible entrenar cognitivamente 
                    estas áreas tales como la atención sostenida y la velocidad de procesamiento y sea 
                    posible potencializar aquellas que ya se encuentran en rangos altos.</p>
            
                <h1 style="text-align: center;">✔ APTO</h1><br>
                    
                
                
                <br><br><br><br><br><br>
                <br><br><br><br><br><br>
                <br><br><br><br><br><br>
                
                <h4>________________________________________________
                    <br>PSI. Daniela Fernanda Quevedo Barrios
                    <br><small class="text-body-secondary">Maestrante en Neuropsicología</small>
                    <br><small class="text-body-secondary">ES&VA SOLUCIONES INTEGRALES S.A.S.</small>
                </h4>

    
                </div>
            </div>
        </div>



     <nav class="navbar fixed-bottom bg-body-tertiary">
        <div class="container-fluid">
          <img id="menu" style="position: fixed;
          bottom: 0;
          left: auto;
          width: 100%;
          z-index: 9999;width: 830px;" src="assets/bot.png" alt="">
        </div>
      </nav> 
  
    <br><br>

    <br><br><br>
    
</div> -->

<!-- <div style="width: 100%; font-size: 16px;" id="miElemento">
    <div id="grafi" style=" width: 480px; left: auto; align-items: center; opacity: 1; ">
        <p-chart type="radar" [data]="data" [options]="options"></p-chart>
    </div>
</div> -->

<p-chart type="radar" [data]="data" [options]="options"></p-chart>

<!-- <button (click)="openModal(modal3)">Generar PDF</button> -->

<!-- <ng-template #modal3 let-modal>
	<div class="modal-header">
		<h4 class="modal-title">titulo modal</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		
    
    <div class="container">
      <div class="row justify-content-start">
        
        <div class="col">
            <div style="width: 100%;display: flex;align-items: center;padding-left: 60px;" id="miElemento2">
                <div id="grafi" style=" width: 480px; left: auto; align-items: center; opacity: 1; ">
                    <p-chart type="radar" [data]="data" [options]="options"></p-chart>
                </div>
            </div>
          
          
        </div>
      
      </div>
    </div>


	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
        <button type="button" class="btn btn-secondary" (click)="modal.close(generatePDF())">ok</button>
	</div>
</ng-template> -->